@model AboutViewModel
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            About
        </li>
    </ol>
</nav>

<h1>About Us</h1>

<h3>Who Are We</h3>
<p>The Student Management System (SMS) is a web development company</p>
<p>We were born on @Model.Formed</p>
<p>And are in operation for @Model.Days days</p></p>
